

<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-3"><h1>Wikis</h1></div>
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-3">
    <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-success' %>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>

<% @wikis.each do |wiki| %>
<div class="media">
    <div class="media-body">
    <h6 class="media-heading wiki-text-left">
      <td><%= link_to wiki.title, edit_wiki_path(wiki) %></td>
      <!--
      <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
      <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      -->
    </h6>
  </div>
</div>
<% end %>
<!--
<%= link_to 'New Wiki', new_wiki_path %>
-->
