<!DOCTYPE html>
<html>
  <head>
    <title>Blocipdeia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash.now[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:alert] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Blocipedia</h3>
              <nav class="nav nav-masthead">
                <% if user_signed_in? %>
                  <%= link_to current_user.name, edit_user_registration_path, method: :get, class: "nav-link"  %>
                  -
                  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"  %>
                  <%= link_to 'Wikis', wikis_path, class: "nav-link" %>
                <% else %>
                  <%= link_to 'Sign In', new_user_session_path, method: :get, class: "nav-link"  %>
                <% end %>
              </nav>
            </div>
          </div>
          <div class="inner">

          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
